.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer{
    position: fixed;
    bottom: 0;
}

.left{
    left: 16%;
    width: 84%;
}

@media screen and (max-width: 600px) {
    .left {
        left: 0;
        width: 100%;
    }
    .hidden{
        display: none;
    }
    .bd{
        width: 100%;
    }
    .auth{
        margin-top: 30%;
    }
    .songName{
        margin-block-start: 0;
    }
    .playerArtist{
        display: none;
    }
}



